@import url("avatar.css");



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
img, embed, object, video{
    max-width: 100%;
}
:root{
    --accent-color : #8b5cf6;
    --secondary-color : #C7F65C;
    --lightest-gray : rgb(240,240,240);
    --light-gray : rgb(144,144,144);
    --medium-gray : rgb(96,96,96);
    --dark-gray : rgb(13,13,13);
    --header-height : 50px;
    --animation-duration: 500ms;
    --animation-timing-curve: ease-in-out;
}
body{
    margin: 0;
    font-size: 1.6rem;
}
*,*::before, *::after{
    box-sizing: border-box;
}
.header{
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.4);
    padding: 0rem 0.5rem;
    height: var(--header-height);
}
.menu-icon-btn{
    background-color: white;
    border: none;
    padding: 0;
}
.menu-icon{
    width: 25px;
    height: 25px;
    fill:var(--accent-color);
    cursor: pointer;
    margin-left: 1rem;
}
.menu-icon:hover{
    fill: var(--dark-gray);
}

.sidebar{
    flex-shrink: 0;
    width: 75px;
    overflow: hidden;
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    padding-top: 1rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: var(--header-height);
}
.sidebar .hidden-sidebar{
    opacity: 0;
    width: 0;
    transition: all var(--animation-duration) var(--animation-timing-curve);
}
.sidebar.open .hidden-sidebar{
    width: 100%;
    height: auto;
    opacity: 1;
}
.sidebar .top-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .logo{
    display: block;
    width: 30px;
    height: 30px;
    transition: all var(--animation-duration) var(--animation-timing-curve);
}
.sidebar.open .logo{
    width: 80px;
    height: 80px;
}
.sidebar .logo > svg{
    width: 100%;
    height: 100%;
}
.middle-sidebar{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1rem 0;
}
.middle-sidebar, .bottomsidebar{
    width: 100%;
}
.middle-sidebar .hidden-sidebar{
    padding-left: 1rem;
}
.bottom-sidebar .hidden-sidebar{
    padding-left: 1rem;
}
.container{
    display: flex;
}
.content{
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.sidebar-icon{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}
.sidebar-list .hidden-sidebar{
    margin-right: 1rem;
    white-space: nowrap;
}
.sidebar-link{
    display: flex;
    width: 100%;
    padding: .5rem 0;
    color: var(--light-gray);
    text-decoration: none;
    align-items: center;
    padding-left: 25px;
}
.sidebar.open .sidebar-link{
    justify-content: flex-start;
}
.sidebar-list-item{
    position: relative;
    width: 100%;
    fill: white;
}
.sidebar-list-item.active{
    fill: White;
    background-color: var(--accent-color);
}
.sidebar-list-item:hover{
    background-color: var(--lightest-gray);
}
.sidebar-list-item.active::before{
    content: "";
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    position: absolute;
    width: 3px;
}
.sidebar.open{
    width: 200px;
}

.lib-heading{
    color: var(--dark-gray);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}
.name-heading{
    color: var(--medium-gray);
    font-size: 1.5rem;
}
.sidebar .top-sidebar{
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar{
    height: 130px;
}
.top-sidebar .hidden-sidebar{
    text-align: center;
    width: 100%;
}


.heading{
    color: var(--accent-color);
}


.components-holder {
    width: 100%;
    height: 208px;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.components-holder>div {
    height: 208px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.components-holder>div:hover {
    cursor: pointer;
}
.components-holder>div:hover>img {
    border: 3px solid var(--accent-color);
}
.components-holder>div:hover>h3 {
    color: var(--accent-color);
}